---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

/* Bio Container Styles */
.bio-container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px;

  .bio-image img {
  max-width: 150px; // Adjust as needed
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); // Adding shadow
  transition: 0.3s; // Optional: for a smooth hover effect
}

.bio-image img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3); // Optional: larger shadow on hover
}

  .bio-description {
    // Add your styles here
    h2 {
      // Style for the name
    }
    p {
      // Style for the bio text
    }
  }
}

.social-icons {
  margin-top: 10px; // Adjust as needed

  a {
    margin-right: 10px; // Space between icons
    font-size: 24px; // Icon size
    color: #333; // Icon color

    &:hover {
      color: #007bff; // Icon hover color, adjust as needed
    }
  }
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
    padding: 15px;
    border-bottom: 1px solid #eaecef; // Adds a subtle line between posts
    transition: background-color 0.3s; // Smooth transition for hover effect

    &:hover {
      background-color: #f8f9fa; // Slight highlight on hover
    }
  }
}

.post-list .post-link {
  color: #0c233d; // Adjust for desired color
  font-size: 1.25em; // Larger font size
  text-decoration: none; // Removes underline
  font-weight: bold; // Makes the font bold

  &:hover {
    text-decoration: underline; // Underline on hover for a classic look
  }
}

.post-list .post-meta {
  display: block; // Makes the date appear on its own line
  margin-bottom: 5px; // Adds space between the date and title
  color: #6c757d; // A softer color for the date
  font-style: italic; // Italicize the date
}
